In [111]:
import pandas as pd
df=pd.read_csv('new_Cardekho_dataset.csv')
df

,full_name,selling_price,new-price,year,seller_type,km_driven,owner_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,Maruti Alto Std,1.20,0.00,2012.0,Individual,120000.0,First Owner,Petrol,Manual,19.0,796.0,46.30,5
1,Hyundai Grand i10 Asta,5.50,7.11,2016.0,Individual,20000.0,First Owner,Petrol,Manual,18.0,1197.0,82.00,5
2,Hyundai i20 Asta,2.15,0.00,2010.0,Individual,60000.0,First Owner,Petrol,Manual,17.0,1197.0,80.00,5
3,Maruti Alto K10 2010-2014 VXI,2.26,0.00,2012.0,Individual,37000.0,First Owner,Petrol,Manual,20.0,998.0,67.10,5
4,Ford Ecosport 2015-2021 1.5 TDCi Titanium BSIV,5.70,10.14,2015.0,Dealer,30000.0,First Owner,Diesel,Manual,22.0,1498.0,98.59,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19626,Toyota Platinum Etios 1.4 GXD,6.50,0.00,2017.0,Dealer,69480.0,First Owner,Diesel,Manual,23.0,1364.0,67.05,5
19627,Maruti Ertiga BSIV VXI,9.25,0.00,2019.0,Dealer,18000.0,First Owner,Petrol,Manual,17.0,1373.0,91.10,7
19628,Skoda Rapid 1.5 TDI Elegance,4.25,0.00,2015.0,Dealer,67000.0,First Owner,Diesel,Manual,21.0,1498.0,103.52,5
19629,Mahindra XUV500 W6 2WD,12.25,17.83,2016.0,Dealer,3800000.0,First Owner,Diesel,Manual,16.0,2179.0,140.00,7
19630,Honda City i-VTEC CVT VX,12.00,0.00,2019.0,Dealer,13000.0,First Owner,Petrol,Automatic,18.0,1497.0,117.60,5

In [112]:
df['seller_type'].value_counts()

Dealer              11786
Individual           7655
Trustmark Dealer      190
Name: seller_type, dtype: int64

In [113]:
dealer_seller_price_df=df[['seller_type','selling_price']].groupby(['seller_type']).sum()
dealer_seller_price_df['avg_selling_price']=df[['seller_type','selling_price']].groupby(['seller_type']).mean()
dealer_seller_price_df.rename(columns={'selling_price':'toal amount sold in lakhs'},inplace=True)
dealer_seller_price_df

                  toal amount sold in lakhs  avg_selling_price
seller_type
Dealer                            104329.90           8.852019
Individual                         55642.56           7.268786
Trustmark Dealer                    1068.26           5.622421

In [114]:
maruthi_prices=[]
hyundai_prices=[]
ford_prices=[]
mahindra_prices=[]
mistu_prices=[]
volvo_prices=[]
toyota_prices=[]
skoda_prices=[]
for i in range(len(df)):
    if 'Maruti' in str(df.loc[i][0]):
        #print("yes")
        maruthi_prices.append(float(df.loc[i][1]))
    elif 'Hyundai' in str(df.loc[i][0]):
        #print("yes")
        hyundai_prices.append(float(df.loc[i][1]))
    elif 'Ford' in str(df.loc[i][0]):
        ford_prices.append(df.loc[i][1]) 
    elif 'Mahindra' in str(df.loc[i][0]):
        mahindra_prices.append(df.loc[i][1]) 
    elif 'Mitsubishi' in str(df.loc[i][0]):
        mistu_prices.append(df.loc[i][1])
    elif 'Toyota' in str(df.loc[i][0]):
        toyota_prices.append(df.loc[i][1])
    elif 'Volvo' in str(df.loc[i][0]):
        volvo_prices.append(df.loc[i][1]) 
    elif 'Skoda' in str(df.loc[i][0]):
        skoda_prices.append(df.loc[i][1])

In [115]:
print(f'Total no.of Maruti vehicles are {len(maruthi_prices)}, Hyundai are {len(hyundai_prices)}, Ford:{len(ford_prices)}, mahindra:{len(mahindra_prices)}, mitsubushi:{len(mistu_prices)}, Toyoto:{len(toyota_prices)}, Volvo:{len(volvo_prices)}, Skoda:{len(skoda_prices)}')

Total no.of Maruti vehicles are 5549, Hyundai are 3559, Ford:893, mahindra:1280, mitsubushi:39, Toyoto:1144, Volvo:43, Skoda:421

In [116]:
import numpy as np
print(f'Avg selling price of Maruti vehicles is {np.mean(maruthi_prices)}L  Hyundai:{np.mean(hyundai_prices)}L, Ford:{np.mean(ford_prices)}L, Mahindra:{np.mean(mahindra_prices)}L, Mitsubushi:{np.mean(mistu_prices)}L, Toyota:{np.mean(toyota_prices)}L, Volvo:{np.mean(volvo_prices)}L, Skoda:{np.mean(skoda_prices)}L')

Avg selling price of Maruti vehicles is 6.199032258064517L  Hyundai:5.914900252880023L, Ford:6.511052631578948L, Mahindra:7.339953124999999L, Mitsubushi:10.407948717948717L, Toyota:11.721923076923078L, Volvo:25.83744186046512L, Skoda:7.547363420427554L

In [117]:
df['full_name'].value_counts()

Maruti Swift Dzire VDI              210
Maruti Alto 800 LXI                 189
Maruti Wagon R VXI                  164
Maruti Swift VDI                    150
Maruti Alto K10 VXI                 121
                                   ...
Mahindra Bolero Power Plus LX         1
Ford Fiesta 1.6 Duratec S             1
Mitsubishi Montero 3.2 GLS            1
Volvo XC60 D4 Summum                  1
Toyota Yaris V Optional CVT BSIV      1
Name: full_name, Length: 3226, dtype: int64

In [118]:
owner_seller_price_df=df[['owner_type','selling_price']].groupby(['owner_type']).mean()
owner_seller_price_df

              selling_price
owner_type
First Owner        8.204531
Second Owner       5.850000
Third Owner        1.700000

In [119]:
fuel_transmission_df=df[['fuel_type','transmission_type','selling_price']].groupby(['fuel_type','transmission_type'],as_index=False).mean()
fuel_transmission_df

  fuel_type transmission_type  selling_price
0       CNG            Manual       4.139256
1    Diesel         Automatic      20.805180
2    Diesel            Manual       6.544845
3  Electric         Automatic      12.491667
4       LPG            Manual       9.999016
5    Petrol         Automatic      10.305386
6    Petrol            Manual       6.090482

In [120]:
df.corr()

,selling_price,new-price,year,km_driven,mileage,engine,max_power,seats
selling_price,1.000000,0.301678,0.020935,-0.061699,-0.234956,0.368469,0.476870,0.032844
new-price,0.301678,1.000000,0.047371,-0.014883,-0.266306,0.395741,0.502660,0.065721
year,0.020935,0.047371,1.000000,-0.321015,0.260673,-0.062758,0.041910,-0.002961
km_driven,-0.061699,-0.014883,-0.321015,1.000000,-0.087813,0.176778,0.019240,0.177458
mileage,-0.234956,-0.266306,0.260673,-0.087813,1.000000,-0.580518,-0.485226,-0.364590
engine,0.368469,0.395741,-0.062758,0.176778,-0.580518,1.000000,0.808725,0.483896
max_power,0.476870,0.502660,0.041910,0.019240,-0.485226,0.808725,1.000000,0.135502
seats,0.032844,0.065721,-0.002961,0.177458,-0.364590,0.483896,0.135502,1.000000

In [121]:
df.dtypes

full_name             object
selling_price        float64
new-price            float64
year                 float64
seller_type           object
km_driven            float64
owner_type            object
fuel_type             object
transmission_type     object
mileage              float64
engine               float64
max_power            float64
seats                  int64
dtype: object

In [122]:
from sklearn import preprocessing
encode_columns=['seller_type','fuel_type','transmission_type','owner_type']
for col_name in encode_columns:
    le=preprocessing.LabelEncoder()
    df[col_name]=le.fit_transform(df[col_name])
    #print(x)

In [123]:
df

,full_name,selling_price,new-price,year,seller_type,km_driven,owner_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,Maruti Alto Std,1.20,0.00,2012.0,1,120000.0,0,4,1,19.0,796.0,46.30,5
1,Hyundai Grand i10 Asta,5.50,7.11,2016.0,1,20000.0,0,4,1,18.0,1197.0,82.00,5
2,Hyundai i20 Asta,2.15,0.00,2010.0,1,60000.0,0,4,1,17.0,1197.0,80.00,5
3,Maruti Alto K10 2010-2014 VXI,2.26,0.00,2012.0,1,37000.0,0,4,1,20.0,998.0,67.10,5
4,Ford Ecosport 2015-2021 1.5 TDCi Titanium BSIV,5.70,10.14,2015.0,0,30000.0,0,1,1,22.0,1498.0,98.59,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19626,Toyota Platinum Etios 1.4 GXD,6.50,0.00,2017.0,0,69480.0,0,1,1,23.0,1364.0,67.05,5
19627,Maruti Ertiga BSIV VXI,9.25,0.00,2019.0,0,18000.0,0,4,1,17.0,1373.0,91.10,7
19628,Skoda Rapid 1.5 TDI Elegance,4.25,0.00,2015.0,0,67000.0,0,1,1,21.0,1498.0,103.52,5
19629,Mahindra XUV500 W6 2WD,12.25,17.83,2016.0,0,3800000.0,0,1,1,16.0,2179.0,140.00,7
19630,Honda City i-VTEC CVT VX,12.00,0.00,2019.0,0,13000.0,0,4,0,18.0,1497.0,117.60,5

In [124]:
df.dtypes

full_name             object
selling_price        float64
new-price            float64
year                 float64
seller_type            int64
km_driven            float64
owner_type             int64
fuel_type              int64
transmission_type      int64
mileage              float64
engine               float64
max_power            float64
seats                  int64
dtype: object

In [126]:
#from sklearn.model_selection import train_test_split,GridSearchCV
x=df.drop(['full_name','selling_price','new-price','seller_type'],axis='columns',inplace=False)
y=df['selling_price']
#from imblearn.over_sampling import SMOTE
#smote = SMOTE(sampling_strategy='not majority',k_neighbors=1)
#x_sm,y_sm = smote.fit_resample(x,y)

In [127]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3)
#print(x_train.shape,y_train.shape)

In [128]:
import sklearn
from sklearn import svm
from sklearn.neighbors import KNeighborsClassifier as knn
from sklearn.ensemble import RandomForestClassifier

In [131]:
from sklearn.metrics import accuracy_score,r2_score
from sklearn.linear_model import LinearRegression

In [132]:
linear_classifier = LinearRegression()
linear_classifier.fit(x_train,y_train)

LinearRegression()

In [133]:
linear_classifier.coef_

array([ 2.38790714e-02, -1.31136070e-05, -2.93349649e+00, -5.50899662e-01,
       -3.22743706e+00, -1.55005335e-01, -8.58801593e-04,  1.01338173e-01,
       -4.17518729e-01])

In [134]:
linear_classifier.intercept_

-38.94375135968652

In [135]:
predictions = linear_classifier.predict(x_test)

In [136]:
score = r2_score(y_test,predictions)
print(score)

0.20739257717337067

In [137]:
from statsmodels.api import OLS

model= OLS(y_train, x_train).fit()
print(model.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:          selling_price   R-squared (uncentered):                   0.535
Model:                            OLS   Adj. R-squared (uncentered):              0.535
Method:                 Least Squares   F-statistic:                              1758.
Date:                Sun, 07 Nov 2021   Prob (F-statistic):                        0.00
Time:                        21:12:09   Log-Likelihood:                         -49755.
No. Observations:               13741   AIC:                                  9.953e+04
Df Residuals:                   13732   BIC:                                  9.960e+04
Df Model:                           9
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
year                  0.0045      0.001      7.303      0.000       0.003       0.006
km_driven         -1.341e-05    1.5e-06     -8.950      0.000   -1.64e-05   -1.05e-05
owner_type           -2.9668      3.693     -0.803      0.422     -10.207       4.273
fuel_type            -0.5483      0.072     -7.616      0.000      -0.689      -0.407
transmission_type    -3.2456      0.240    -13.530      0.000      -3.716      -2.775
mileage              -0.1490      0.028     -5.359      0.000      -0.204      -0.095
engine               -0.0009      0.000     -2.302      0.021      -0.002      -0.000
max_power             0.1017      0.004     26.580      0.000       0.094       0.109
seats                -0.3998      0.126     -3.180      0.001      -0.646      -0.153
==============================================================================
Omnibus:                    16074.779   Durbin-Watson:                   2.011
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1630124.648
Skew:                           6.280   Prob(JB):                         0.00
Kurtosis:                      54.860   Cond. No.                     3.81e+06
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[3] The condition number is large, 3.81e+06. This might indicate that there are
strong multicollinearity or other numerical problems.